{{ define "main" }}
<main>
    <div id="c-parent">
        <div id="c-floater"></div>
        <div id="c-child">
        
            <img id="R" alt="Fancy R" class="fade-in" src="/r.svg" />
            <br />
            <div id="buttons" class="fade-in one">
                <a class="button" href="/about">About</a>
                <p id="mdot1" class="button b-desktop">&middot;</p>
                <a class="button" href="https://github.com/RyanFleck/Projects/raw/master/tex/Resume/Ryan_Fleck_CV.pdf">Resume</a>
                <p id="mdot2" class="button b-desktop">&middot;</p>
                <a class="button" href="/posts">Writing</a>
            </div>
            <br />
            <br />
        
        </div>
    </div>
</main>
{{end}}
