{{ define "main" }}
<main>
    <article id="home">
	
    <img id="R" class="fade-in rcf-glitch" src="/r.svg" />
    <hr style="color:#EEE;"/>
    <div id="buttons" class="fade-in one">

	<button onclick="window.location.href='/about'">About</button>
	<button onclick="window.location.href='https://github.com/RyanFleck/Projects/raw/master/tex/Resume/Ryan_Fleck_CV.pdf'">Resume</button>
	<button onclick="window.location.href='/posts'">Writing</button>
	<!--button onclick="window.location.href='/cartoons'">Cartoons</button-->

    </div>

    </article>
</main>
{{end}}
