{{ define "main" }}
<main>
    <article id="home">
	
    <img id="R" class="fade-in one" src="/r.svg" />

    <div id="buttons" class="fade-in two">

	<button onclick="window.location.href='/about'">About</button>
	<button onclick="window.location.href='https://github.com/RyanFleck/Projects/blob/master/tex/Resume/RCF_CV_W19.pdf'">Resume</button>
	<button onclick="window.location.href='/posts'">Writing</button>
	<button onclick="window.location.href='/cartoons'">Cartoons</button>

    </div>

    </article>
</main>
{{end}}
