/* RyanFleck.ca Styling */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: auto !important;
  font-variant-ligatures: normal;
  -webkit-font-feature-settings: "liga" on, "calt" on;
  font-feature-settings: "liga" on, "calt" on;
  text-rendering: optimizeLegibility;
  max-width: 100%;
  min-width: 300px;
  color: black;
  /* color: rgba(0, 0, 0, 0.8); */
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-decoration: none;
  color: rgb(83, 83, 221);
}

/* Places where eyeballs go should be comfortable and serifed. */
p,
li,
tr,
td,
th,
footer,
button {
  font-family: "Source Serif Pro", Iowan Old Style, Apple Garamond,
    Palatino Linotype, Times New Roman, "Droid Serif", Times, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  /* color: rgba(0, 0, 0, 0.7); */
}

/*
#web-wrap {
  margin: 0 auto;
  max-width: 700px;
  padding: 0.6em;
}
*/

/* Alignment on Page */
div {
  display: block;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
hr,
br,
svg,
table,
.rcf-svg,
footer {
  margin: 0 auto;
  max-width: 700px;
  margin-top: 1em;
}

article > div.highlight {
  overflow-x: auto;
  padding: 0;
  /*
  border-radius: 5px;
  border: 1px solid #dbce8a;
  */
}

article > div.highlight::hover {
  overflow-x: auto;
  padding: 0;
  /*
  border-radius: 5px;
  border: 1px solid #dbce8a;
  */
}

article > pre,
article > div.highlight pre {
  width: 100%;
  padding-left: calc(50vw - 360px);
}

@media only screen and (min-width: 600px) {
  li > .highlight {
    margin-right: calc(310px - 50vw);
  }
}

pre {
  overflow: auto;
  background-color: transparent !important;
}

/* */

ul {
  list-style: decimal-leading-zero;
}

::selection {
  background: rgba(255, 255, 44, 0.76);
}

::-moz-selection {
  background: rgba(255, 255, 44, 0.76);
}

code::selection,
pre ::selection {
  background: #ff00ff80;
}

code::-moz-selection,
pre ::-moz-selection {
  background: #ff00ff80;
}

.pagin-mobile {
  display: none;
  font-size: 0.7em;
  padding-top: 0.5rem;
}

.pagin-desktop {
  display: inline;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }

  .pagin-desktop {
    display: none;
  }

  .pagin-mobile {
    display: block;
  }

  #listcontent > ol > li {
    text-align: left;
  }

  #paginator {
    padding-top: 1em;
    text-align: left;
  }

  .toc-article-link {
    font-size: 1.2rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 2em;
}

code,
pre,
.highlight {
  /* These are not enforced if not important, wcyd? */
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: auto !important;
  font-variant-ligatures: normal;
  -webkit-font-feature-settings: "liga" on, "calt" on;
  font-feature-settings: "liga" on, "calt" on;
  text-rendering: optimizeLegibility;
  font-family: "SFMono-Regular", Consolas, Monaco, "Liberation Mono",
    "Noto Mono", Menlo, Courier, "Courier New", monospace !important;
  background-color: transparent !important;
  color: black;
  font-size: 0.9rem;
}

hr {
  border: none;
  border-top: 2px solid #EEE;
}

blockquote {
  margin: 0;
  padding: 0;
}

blockquote p {
  padding-left: 1rem;
  border-left: 2px solid #F4F4F4;
  margin-top: 0;
  padding-top: 1rem;
}

blockquote p:first-child {
  margin-top: 1rem;
  padding-top: 0; 

}


footer {
  font-size: 0.8rem;
}

blockquote {
  font-style: italic;
}

#R {
  margin: 20px auto;
  display: block;
  width: 50vh;
  max-width: 70%;
  /* filter: drop-shadow(0 0 10px rgb(255, 255, 255)); */
}

#R svg {
  display: block;
  margin: 0 auto;
}

#buttons {
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 1.2em;
}

#landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
}

@media (max-width: 600px) {
  #TableOfContents ul li a {
    line-height: 2rem;
  }
  #buttons {
    text-align: center;
    flex-direction: column;
  }

  p#mdot1 {
    display: none;
  }

  p#mdot2 {
    display: none;
  }
}

.button {
  font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD,
    Georgia, serif;
  /* text-shadow: 0px 0px 0.5px #CCC; */
  border: 0px solid transparent;
  border-radius: 5px;
  padding: 8px;
  font-size: 26px;
  background: transparent;
  display: block;
  margin: 2px;
  color: #333;
  transition: color 0.2s;
}

#buttons > .button:hover {
  color: rgb(83, 83, 221);
  transition: color 0.2s;
}

/* Header links */

.header-anchor-link {
  opacity: 0;
  transition: 0.5s;
}

h1:hover > .header-anchor-link,
h2:hover > .header-anchor-link,
h3:hover > .header-anchor-link,
h4:hover > .header-anchor-link,
h5:hover > .header-anchor-link,
h6:hover > .header-anchor-link {
  opacity: 1;
  transition: 0.5s;
}

@media (max-width: 600px) {
  .header-anchor-link {
    display: none;
  }
}

#home {
  min-height: 70vh;
}

li > p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 4px;
}

th {
  text-align: left;
}

td {
  padding-right: 3px;
}

article a[href^="https://"],
article a[href^="http://"]
{
  background: url(/external.png) right no-repeat;
  /* In the future, make a larger icon and scale it down. */
  background-size: 10px 10px;
  padding-right: 12px;
}

article a[href^="https://ryanfleck.ca"]
{
  background: none;
  padding-right: 0px;
}

article a[href^="http://localhost:1313/"]
{
  background: none;
  padding-right: 0px;
}

#buttons > a.button {
  background: none;
  padding-right: 0px;
}

.homedot {
  color: rgb(186 186 255);
}

.replit {
  display: block;
  max-width: 1000px;
  margin: 0px auto;
  border-radius: 10px;
}

code {
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  #mdot1 {
    display: none;
  }

  #mdot2 {
    display: none;
  }
}

@media (min-width: 600px) {
  #c-parent {
    height: 90vh;
  }

  #c-floater {
    float: left;
    height: 40%;
    width: 100%;
    margin-bottom: -25%;
  }

  #c-child {
    clear: both;
    height: 0vh;
  }
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

sup.footnote-ref > a {
  color: grey;
  font-size: 0.5rem;
}

a.footnote-ref {
  font-size: 0.7rem;
  font-family: "Courier New", Courier, monospace;
}

/* WebKit Scrollbar */

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
}

.slideshow-section {
  min-height: 90vh;
  margin-top: 10px;
  margin-bottom: 10vh;
  border: 1px dashed #eee;
  border-left: none;
  border-bottom: none;
  border-radius: 50px;
  width: 100%;
  overflow-x: scroll;
}

.slideshow-button {
  outline: none;
  border: 1px solid white;
  padding: 1rem;
  font-size: 1rem;
  background: white;
  opacity: 50%;
  font-family: "Alata", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.slideshow-button:hover {
  opacity: 100%;
}

footer p {
  margin: 0px;
  padding: 0px;
}

.viewcount {
  margin-top: 0px;
  height: 0px;
  transition: 5s ease;
  opacity: 0;
}

.viewcount-visible {
  height: auto;
  opacity: 1;
  color: red;
  transition: 5s ease;
}

#views-box {
  transition: ease-in 1s;
}

.invisible {
  display: none;
  transition: ease-in 1s;
}

.footnote-backref {
  font-family: "Courier New", Courier, monospace;
}

.rcf-svg > svg {
  max-width: 100%;
  height: auto;
}

.rcf-image {
  height: auto;
  margin: 1rem auto;
}

.rcf-gif {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 2rem auto;
}
