<!DOCTYPE html>
<html lang="en">

<head>
    {{- partial "head.html" . -}}
</head>

<body>
    {{- partial "draft-message.html" . -}}
    {{- partial "header.html" . -}}
    <div id="content">
    {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -}}
</body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155827853-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-155827853-1');
</script>

</html>
