{{ define "main" }}
<main>
  <article id="listcontent">
    {{ .Content }}

    <ol reversed style="list-style: none; padding-left: 0px">
      {{ range .Paginator.Pages }}
      <!-- Render each article. -->
      <li>
        {{ if .Date }}
        <span class="pagin-desktop">
          {{.Date.Format "2006·01·02"}} &nbsp;&nbsp;
        </span>
        {{end}}
        <a href="{{.Permalink}}" class="toc-article-link">
          {{ if .Draft }}
          <span style="color: red">DRAFT:</span>
          {{ end }} {{.Title}}</a
        >
      </li>
      {{ end }}
    </ol>
    <p id="paginator">
      Page {{ .Paginator.PageNumber }}/{{ .Paginator.TotalPages }};
      <!---->
      {{ if .Paginator.HasPrev }}
      <a href="{{ .Paginator.Prev.URL }}">prev</a>, {{ else }} prev, {{ end }}
      {{ if .Paginator.HasNext }} <a href="{{ .Paginator.Next.URL }}">next</a>.
      {{ else }} next. {{ end }}
      <br />
      <small>Dates are <b>&#9651;</b> year·month·day.</small>
    </p>
  </article>
</main>
{{end}}
