{{ define "main" }}
<main>
  {{ if .Params.toc }}
  <aside id="toc">{{ .TableOfContents }}</aside>
  {{ end }}

  <article>{{ .Content }}</article>

  {{ if (not .Params.no_comments)}}
  <div id="commentsblock">
    <h2 id="comments">Comments</h2>
    <script
      src="https://utteranc.es/client.js"
      repo="RyanFleck/Comments"
      issue-term="{{ .RelPermalink }}"
      theme="github-light"
      crossorigin="anonymous"
      async
      defer
    ></script>
  </div>
  {{ end }}
</main>
{{end}}
