/* RyanFleck.ca Styling */

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: auto !important;
  font-variant-ligatures: normal;
  -webkit-font-feature-settings: "liga" on, "calt" on;
  font-feature-settings: "liga" on, "calt" on;
  text-rendering: optimizeLegibility;
  max-width: 100%;
  color: rgba(0, 0, 0, 0.8);
  background: white;

  font-family: "Alata", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  font-size: 20px;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-decoration: none;
  color: rgb(83, 83, 221);
}

/* Places where eyeballs go should be comfortable and serifed. */
p,
li,
tr,
td,
th,
footer,
button {
  font-family: "Source Serif Pro", Iowan Old Style, Apple Garamond,
    Palatino Linotype, Times New Roman, "Droid Serif", Times, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  line-height: 1.4rem;
  -webkit-font-smoothing: antialiased;
  /* color: rgba(0, 0, 0, 0.7); */
}

#web-wrap {
  margin: 0 auto;
  max-width: 700px;
  padding: 0.6em;
}

ul {
  list-style: decimal-leading-zero;
}

.pagin-mobile {
  display: none;
  font-size: 0.7em;
  padding-top: 0.5rem;
}

.pagin-desktop {
  display: inline;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }

  .pagin-desktop {
    display: none;
  }

  .pagin-mobile {
    display: block;
  }

  #listcontent > ol > li {
    text-align: left;
  }

  #paginator {
    padding-top: 1em;
    text-align: left;
  }

  .toc-article-link {
    font-size: 1.2rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 2em;
  text-decoration: underline #f4f4f4;
  letter-spacing: 0.5px;
}

code,
pre,
.highlight {
  background-color: transparent !important;
  color: black;
  font-size: 0.8rem;
}

article > div.highlight,
article > pre {
  overflow-x: auto;
  margin-right: calc(-50vw + 51%);
  padding: 0;
}

div.highlight > pre {
  margin: 0;
}

hr {
  border: none;
  border-top: 2px solid #eee;
}

blockquote {
  margin-left: 2ch;
}

footer {
  color: rgba(0, 0, 0, 0.2);
  font-size: 0.8rem;
}

blockquote {
  font-style: italic;
}

#R {
  margin: 20px auto;
  display: block;
  width: 50vh;
  max-width: 70%;
  /* filter: drop-shadow(0 0 10px rgb(255, 255, 255)); */
}

#buttons {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 1.2em;
}

@media (max-width: 600px) {
  #buttons {
    text-align: center;
    flex-direction: column;
  }

  p#mdot1 {
    display: none;
  }

  p#mdot2 {
    display: none;
  }
}

.button {
  font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD,
    Georgia, serif;
  /* text-shadow: 0px 0px 0.5px #CCC; */
  border: 0px solid transparent;
  border-radius: 5px;
  padding: 8px;
  font-size: 26px;
  background: transparent;
  display: block;
  margin: 2px;
  color: #333;
  transition: color 0.2s;
}

#buttons > .button:hover {
  color: rgb(83, 83, 221);
  transition: color 0.2s;
}

/* Header links */

.header-anchor-link {
  opacity: 0;
  transition: 0.5s;
}

@media (max-width: 600px) {
  .header-anchor-link {
    display: none;
  }
}

#home {
  min-height: 70vh;
}

li > p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 4px;
}

th {
  text-align: left;
}

td {
  padding-right: 3px;
}

#buttons > a.button {
  background: none;
  padding-right: 0px;
}

.homedot {
  color: rgb(186 186 255);
}

code {
  font-size: 0.8rem;
}

footer a {
  color: rgb(202 202 249);
}

@media (max-width: 600px) {
  #mdot1 {
    display: none;
  }

  #mdot2 {
    display: none;
  }
}

@media (min-width: 600px) {
  #c-parent {
    height: 90vh;
  }

  #c-floater {
    float: left;
    height: 40%;
    width: 100%;
    margin-bottom: -25%;
  }

  #c-child {
    clear: both;
    height: 0vh;
  }
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

sup.footnote-ref > a {
  color: grey;
  font-size: 0.5rem;
}

/* WebKit Scrollbar */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

.slideshow-button:hover {
  opacity: 100%;
}

footer p {
  margin: 0px;
  padding: 0px;
}

footer p a {
  color: rgb(183 183 236);
}

.viewcount {
  margin-top: 0px;
  height: 0px;
  transition: 5s ease;
  opacity: 0;
}

.viewcount-visible {
  height: auto;
  opacity: 1;
  color: red;
  transition: 5s ease;
}

#views-box {
  transition: ease-in 1s;
}

.invisible {
  display: none;
  transition: ease-in 1s;
}

.footnote-backref {
  font-family: "Courier New", Courier, monospace;
}

.rcf-svg > svg{
  width: 100%;
  height: auto;
}

.rcf-image{
  display: block;
  height: auto;
  width: 100%;
}