<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<!-- Title  -->

{{ if not .IsHome }}
<title> {{ if .Title }}{{ .Title }} - {{end}}{{ .Site.Title }}</title>
{{ else }}
<title>{{ .Site.Title }}</title>
<link rel="preload" href="/r.svg">
{{ end }}

<!-- Twitter & FB Meta -->
<meta name="twitter:title" content="{{ .Site.Title }} {{ if .Title }}- {{ .Title }}{{end}}" />
<meta name="og:title" content="{{ .Site.Title }} {{ if .Title }}- {{ .Title }}{{end}}" />
<meta name="og:description" content="" />
<meta name="twitter:description" content="" />

<meta name="og:image" 
    content="">

<!-- Favicon  -->
<link rel="icon" href="/favicon.ico">

<!-- CSS -->
<!--link rel="stylesheet" href="/static/style.css"-->
{{- partial "style.html" . -}}
