<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1,
    shrink-to-fit=no"
/>
{{ if .IsHome }}
<meta
  name="description"
  content="Ryan Fleck, Computer Engineering Student, Pragmatic Programmer."
/>
{{ else }}
<meta name="description" content="{{ .Summary }}" />
{{ end }}

<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- Title  -->
<title>
  {{ if and .Title (not .IsHome) }}{{ .Title }} - {{end}}{{ .Site.Title }}
</title>

<!-- Canonical URL -->
<link rel="canonical" href="{{ .Permalink }}" />

<!-- Twitter & FB Meta -->
<meta
  property="og:title"
  content="{{ if and .Title (not .IsHome) }}{{ .Title }} - {{end}}{{ .Site.Title }}"
/>
<meta
  name="twitter:title"
  content="{{ if and .Title (not .IsHome) }}{{ .Title }} - {{end}}{{ .Site.Title }}"
/>
<meta
  itemprop="name"
  content="{{ if and .Title (not .IsHome) }}{{ .Title }} - {{end}}{{ .Site.Title }}"
/>
<meta
  name="twitter"
  content="{{ if and .Title (not .IsHome) }}{{ .Title }} - {{end}}{{ .Site.Title }}"
/>
{{ if not .IsHome }}
<meta property="og:description" content="{{ .Summary }}" />
<meta name="twitter:description" content="{{ .Summary }}" />
<meta itemprop="description" content="{{ .Summary }}" />
{{ else }}
<meta
  property="og:description"
  content="Ryan Fleck, computer engineering student, pragmatic programmer."
/>
<meta
  name="twitter:description"
  content="Ryan Fleck, computer engineering student, pragmatic programmer."
/>
<meta
  itemprop="description"
  content="Ryan Fleck, computer engineering student, pragmatic programmer."
/>
{{ end }}

<!--OpenGraph-->
<meta property="og:" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:locale:alternate" content="en_CA" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{.Permalink }}" />
<meta property="og:image" content="https://ryanfleck.ca/r.jpg" />
<meta property="og:site_name" content="Ryan Fleck" />
<meta property="og:article:author" content="Ryan Fleck" />
<meta property="og:profile:first_name" content="Ryan" />
<meta property="og:profile:last_name" content="Fleck" />
<meta property="og:profile:username" content="RyanFleck" />

<!--Twitter-->
<meta name="twitter:" content="" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@RyanFleck_Dev" />
<meta name="twitter:image:src" content="https://ryanfleck.ca/r.jpg" />

<!-- Favicon  -->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

<!-- CSS -->
<link rel="stylesheet" href="/style.css" />

<!-- Non-Critical CSS can be deferred. -->
<link
  rel="preload"
  href="/style-noncritical.css"
  as="style"
  onload='this.onload=null;this.rel="stylesheet";this.as=null;'
/>
<noscript><link rel="stylesheet" href="/style-noncritical.css" /></noscript>

<!-- Fonts can be loaded after the rest of the CSS. -->
<link
  rel="preload"
  href="/style-fonts.css"
  as="style"
  onload='this.onload=null;this.rel="stylesheet";this.as=null;'
/>
<noscript><link rel="stylesheet" href="/style-fonts.css" /></noscript>

<!-- JS -->
<script type="application/javascript" src="/js/scripts.js" async defer></script>
<script type="application/javascript" src="/js/lazysizes.min.js" async defer></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  defer
  type="application/javascript"
  src="https://www.googletagmanager.com/gtag/js?id=UA-155827853-1"
></script>
<script type="application/javascript" async defer>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "UA-155827853-1");
</script>

<style media="print">
  html {
    color: black;
    background: white;
    font-size: 20px;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", "Noto Mono",
      Menlo, Courier, monospace;
  }
</style>
