<style>
  html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: auto !important;
    font-size: 17px;
    max-width: 100%;
    color: rgba(0, 0, 0, 0.8);
    /* background: rgb(245, 236, 231); */

    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    font-family:
      "SFMono-Regular",
      Consolas,
      "Liberation Mono",
      Menlo,
      Courier,
      monospace;
  }

  body {
    margin: 0 auto;
    max-width: 62ch;
    padding: 1ch;
  }

  a {
    text-decoration: none;
    color: rgb(83, 83, 221);
  }

  ::selection {
    background: rgba(255, 255, 44, 0.76);
  }

  ::-moz-selection {
    background: rgba(255, 255, 44, 0.76);
  }



  @media only screen and (max-width: 600px) {
    html {
      font-size: 15px;
    }
  }

  @media only screen and (max-width: 400px) {
    html {
      font-size: 13px;
    }
  }

  @media only screen and (max-width: 300px) {
    html {
      font-size: 10px;
    }
  }



  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 2rem;
    font-size: 1rem;
  }

  code,
  pre,
  .highlight {
    font-family:
      "SFMono-Regular",
      Consolas,
      "Liberation Mono",
      Menlo,
      Courier,
      monospace;
    background-color: transparent !important;
    color: black;
  }

  article>div.highlight,
  article>pre {
    overflow-x: auto;
    margin-right: calc(-50vw + 51%);
    padding: 0;
  }

  div.highlight>pre {
    margin: 0;
  }

  hr {
    border-style: dashed;
  }

  blockquote {
    margin-left: 2ch;
  }

  footer {
    color: rgba(0, 0, 0, 0.2);
    font-size: 0.8rem;
  }
</style>
