<style>
  html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: auto !important;
    max-width: 100%;
    color: rgba(0, 0, 0, 0.8);
    /* background: rgb(245, 236, 231); */
    background: #EEE;

   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif,
     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    font-size: 22px;
  }
  /* Places where eyeballs go should be comfortable and serifed. */
  p,li{
    font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
    line-height: 1.4rem;
    /* color: rgba(0, 0, 0, 0.7); */
  }

  body {
    margin: 0 auto;
    max-width: 700px;
    padding: 5px;
  }

  a {
    text-decoration: none;
    color: rgb(83, 83, 221);
  }

  ::selection {
    background: rgba(255, 255, 44, 0.76);
  }

  ::-moz-selection {
    background: rgba(255, 255, 44, 0.76);
  }

  .pagin-mobile{
    display: none;
    font-size: 0.7em;
    padding-top: 0.5rem;
  }
  .pagin-desktop{
    display: inline; 
  }

  @media only screen and (max-width: 600px) {
    html {
      font-size: 18px;
    }
    .pagin-desktop{
      display: none; 
    }
    .pagin-mobile{
      display: block; 
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 2em;
  }

  code,
  pre,
  .highlight {
    font-family:
      "SFMono-Regular",
      Consolas,
      "Liberation Mono",
      "Noto Mono",
      Menlo,
      Courier,
      monospace;
    background-color: transparent !important;
    color: black;
    font-size: 0.8rem;
  }

  article>div.highlight,
  article>pre {
    overflow-x: auto;
    margin-right: calc(-50vw + 51%);
    padding: 0;
  }

  div.highlight>pre {
    margin: 0;
  }

  hr {
    border-style: dashed;
  }

  blockquote {
    margin-left: 2ch;
  }

  footer {
    color: rgba(0, 0, 0, 0.2);
    font-size: 0.8rem;
  }
</style>
